{% extends 'base.html.twig' %}

{% block title %}React Demo{% endblock %}

{% block body %}
<h2>Página de React</h2>
<div id="react-root"></div>

{{ encore_entry_script_tags('app') }}
{{ encore_entry_link_tags('app') }}
{% endblock %}
