/* Sobrescribir algún color general */
body {
    background-color: #206cb8; /* gris claro de Bootstrap */
}

/* Personalización */
.my-custom-header {
    background-color: #df8c10;
    color: white;
    padding: 1rem;
    border-radius: .5rem;
}
